//Заголовки
@mixin title-h2() {
  color: $black;
  font-weight: bold;
  font-size: $fs-a;
  line-height: $lh-k;
}

@mixin title-label() {
  color: $black;
  font-weight: bold;
  font-size: $fs-e;
  line-height: $lh-l;
}
//--------------------
