//Заголовки
@mixin title-h2() {
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--xxxxl + px;
  line-height: 30 / $font-size--xxxxl + em;
}

@mixin title-label() {
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--large + px;
  line-height: 18 / $font-size--large + em;
}
//--------------------
