//Заголовки
@mixin title-h2() {
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--xxxxl;
  line-height: 30px / $font-size--xxxxl;
}

@mixin title-label() {
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--lg;
  line-height: 18px / $font-size--lg;
}
//--------------------
