@import "normalize.scss";

@import "variables.scss";
@import "mixins.scss";

@import "global/scaffolding.scss";
@import "global/fonts.scss";

@import "blocks/btn.scss";
@import "blocks/catalog.scss";
@import "blocks/catalog-item.scss";
@import "blocks/contacts.scss";
@import "blocks/features.scss";
@import "blocks/field-text.scss";
@import "blocks/handmade-nav.scss";
@import "blocks/item-ot-week.scss";
@import "blocks/knitting.scss";
@import "blocks/main-catalog.scss";
@import "blocks/main-form.scss";
@import "blocks/main-index.scss";
@import "blocks/main-nav.scss";
@import "blocks/making.scss";
@import "blocks/modal-order.scss";
@import "blocks/page-footer.scss";
@import "blocks/page-header.scss";
@import "blocks/promo-handmade.scss";
@import "blocks/promo-week.scss";
@import "blocks/quote.scss";
@import "blocks/reviews.scss";
@import "blocks/size-label.scss";
@import "blocks/social.scss";
@import "blocks/type-checkbox.scss";
@import "blocks/type-radio.scss";
