//временно
$temp-ol: 1px solid blue;
//--------------------
@mobile-widths-only: (max-width: 767px);
//ширина
$mobile-width: 320px;
$tablet-width: 768px; //575
$desktop-width: 1150px;
$screen-mobile: $mobile-width;
$screen-tablet: 668px;
$screen-desktop: $desktop-width;
//--------------------

//цвета
$gray: #f1f1f1;
$gray-2: #ececec;
$gray-3: #e5e5e5;
$dark-gray: #444444;
$black: #000000;
$white: #ffffff;
$green:#56c3b2;
$light-green: #63d1bb;
$light-green-2: #62d1ba;
//цвета текст
$main-text: $dark-gray;
$secondary-text: $black;
$light-text: $white;
$legend-text: $light-green;
//--------------------

//font-size(px)
$font-size--xxxxxl: 43px;
$font-size--xxxxl: 27px;
$font-size--xxxl: 25px;
$font-size--tempName: 20px;
$font-size--xxl: 19px;
$font-size--xl: 18px;
$font-size--lg: 17px;
$font-size--main: 15px;
$font-size--sm: 14px;
$font-size--xs: 13px;
//--------------------
