//временно
$temp-ol: 1px solid blue;
//--------------------

//ширина
$mobile-width: 320px;
//--------------------

//цвета
$gray: #f1f1f1;
$dark-gray: #444444;
$black: #000000;
$white: #ffffff;
$green:#56c3b2;
$light-green: #63d1bb;
//цвета текст
$main-text: $dark-gray;
$secondary-text: $black;
$light-text: $white;
$legend-text: $light-green;
//--------------------

//font-size(px)
$font-size--xxxxl: 27;
$font-size--xxxl: 25;
$font-size--xxl: 19;
$font-size--xl: 18;
$font-size--large: 17;
$font-size--main: 15;
$font-size--small: 14;
$font-size--xs: 13;
//--------------------
