.page {
  margin: 0;
  min-width: $mobile-width;
  color: $main-text;
  font-size: $font-size--main + px;
  font-family: "OpenSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: 24 / $font-size--main + em;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
