.page {
  margin: 0;
  min-width: $mobile-width;
  color: $dark-gray;
  font-size: $fs-main;
  font-family: "OpenSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  line-height: $lh-main;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
