.catalog {
  border-top: 1px solid gray-2;

  @media (min-width: $screen-tablet) {
    margin-top: -90px;
  }

  @media (min-width: $screen-desktop) {
  }
}

.catalog__header-wrapper {
  border-top: 1px solid gray-2;
  background: $gray;

  @media (min-width: $screen-tablet) {
    background: $gray url("../img/bg-zigzag-fill.svg") repeat-x 0 105%;
    background-size: 768px auto;
  }

  @media (min-width: $screen-desktop) {
    background-size: 1150px auto;
    background-position: 0 106%;
  }
}

.catalog__title {
  margin: 0 auto;
  padding: 0 40px;
  padding-top: 70px;
  width: $mobile-width;
  min-height: 176px;
  @include title-h2;

  @media (min-width: $screen-tablet) {
    width: $tablet-width;
    padding: 0 195px;
    padding-top: 95px;
    min-height: 225px;
    font-size: $font-size--xxxxxl;
    line-height: 50px / $font-size--xxxxxl;
  }

  @media (min-width: $screen-desktop) {
    padding-left: 343px;
    padding-right: 343px;
    width: $desktop-width;
    min-height: 256px;
    font-size: $font-size--xxxxxxl;
    line-height: 57px / $font-size--xxxxxxl;
  }
}

.catalog__content {
  margin: 0 auto;
  width: $mobile-width;

  @media (min-width: $screen-tablet) {
    padding-top: 24px;
    width: $tablet-width;
  }

  @media (min-width: $screen-desktop) {
    width: 1050px;
    display: flex;
    justify-content: space-between;
  }
}
