.catalog-item {
  outline: $temp-ol;
  padding: 0 30px;
}

.catalog-item a {
  text-decoration: none;
}

.catalog-item__title {
  margin: 0;
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--large + px;
  line-height: 24 / $font-size--large + em;
}

.catalog-item__info {
  font-size: $font-size--xs + px;
  line-height: 30 / $font-size--xs + em;
}

.catalog-item__price {
  color: $secondary-text;
  font-weight: bold;
}
