.catalog {
  outline: $temp-ol;
}

.catalog__header {
}

.catalog__title {
  margin: 0;
  padding: 0 30px;
  min-height: 177px;
  background: $gray;
  @include title-h2;
  padding-top: 70px; /*--temp--*/
}

@media #{$tablet-media} {

  .catalog {
    margin-right: auto;
    margin-left: auto;
    margin-top: -88px;
    width: $tablet-width;
  }

  .catalog__title {
    padding: 0 50px;
    padding-top: 70px;
  }
}

@media #{$desktop-media} {

  .catalog {
    width: $desktop-width;
  }

  .catalog__content {
    display: flex;
    justify-content: space-between;
  }
}
