.catalog {
  outline: $temp-ol;

  @media (min-width: $screen-tablet) {
    margin-right: auto;
    margin-left: auto;
    margin-top: -88px;
    width: $tablet-width;
  }

  @media (min-width: $screen-desktop) {
    width: $desktop-width;
  }
}

.catalog__title {
  margin: 0;
  padding: 0 30px;
  min-height: 177px;
  background: $gray;
  @include title-h2;
  padding-top: 70px; /*--temp--*/

  @media (min-width: $screen-tablet) {
    padding: 0 50px;
    padding-top: 70px;
  }
}

.catalog__content {

  @media (min-width: $screen-desktop) {
    display: flex;
    justify-content: space-between;
  }
}
