.contacts {
  outline: $temp-ol;
}

.contacts__title {
  margin: 0;
  padding: 0 30px;
  box-sizing: border-box;
  @include titleH2;
  font-size: 18px;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  padding: 0 30px;
  box-sizing: border-box;
  line-height: 30px;
}
