.contacts {
  padding-bottom: 39px;
  background: url("../img/bg-zigzag-line.svg") repeat-x 0 5%;
  background-size: 320px auto;

  @media (min-width: $screen-tablet) {
    background-size: 768px auto;
    background-position: 0 0;
  }

  @media (min-width: $screen-desktop) {
    background-size: 1150px auto;
    background-position: 0 0;
  }
}

.contacts__inner-wrapper {

  @media (min-width: $screen-tablet) {
    margin: 0 auto;
    width: $tablet-width;
    min-height: 905px;
  }

  @media (min-width: $screen-desktop) {
    position: relative;
    padding: 0 50px;
    width: $desktop-width;
    min-height: 619px;
  }
}

.contacts__title {
  margin: 0 auto;
  width: 260px;
  padding-top: 87px;
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--xl;
  line-height: 30px / $font-size--xl;

  @media (min-width: $screen-tablet) {
    padding: 0 50px;
    padding-top: 79px;
    width: auto;
    font-size: $font-size--xxxxxl;
    line-height: 50px / $font-size--xxxxxl;
  }

  @media (min-width: $screen-desktop) {
    padding: 0;
    padding-left: 175px;
    padding-top: 167px;
    font-size: $font-size--xxxxxxl;
    line-height: 57px / $font-size--xxxxxxl;
  }
}

.contacts__list {
  margin: 0 auto;
  padding: 0;
  width: 260px;
  list-style: none;

  @media (min-width: $screen-tablet) {
    padding: 0 50px;
    display: flex;
    width: auto;
  }

  @media (min-width: $screen-desktop) {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    margin-left: 175px;
    display: block;
    width: 525px;
  }
}

.contacts__item {
  display: flex;
  padding-top: 27px;
  line-height: 30px / $font-size--main;

  @media (min-width: $screen-tablet) {
    display: flex;
    padding-top: 50px;
    font-size: $font-size--lg;
    line-height: 30px / $font-size--lg;
  }

  @media (min-width: $screen-desktop) {
    padding: 0;
    display: list-item;
  }
}

.contacts__item:not(:first-child) {
  padding-top: 29px;
  padding-bottom: 36px;

  @media (min-width: $screen-tablet) {
    position: relative;
    padding-top: 50px;
    padding-left: 55px;
    padding-bottom: 55px;
    flex-grow: 1;

    &::before {
      content: "";
      position: absolute;
      top: -68px;
      right: 0;
      width: 55px;
      height: 90px;
      background: url("../img/icon-flag.svg") no-repeat 5px 3px;
    }
  }

  @media (min-width: $screen-desktop) {
    padding: 0;
    margin: 0;
    margin-top: 30px;

    &::before {
      left: -117px;
      top: -178px;
    }
  }
}

.contacts__address {
  width: 56px;

  @media (min-width: $screen-tablet) {
    width: 75px;
  }

  @media (min-width: $screen-desktop) {
    display: inline-block;
    vertical-align: top;
  }
}

.contacts__value {
  width: auto;
  padding-left: 22px;

  @media (min-width: $screen-tablet) {
    padding: 0;
  }

  @media (min-width: $screen-desktop) {
    display: inline-block;
    vertical-align: top;
    transform: translateX(-3px);
//    margin-left: 20px;
  }
}

.contacts__item a {
  position: relative;
  text-decoration: none;
  color: $secondary-text;

  &:hover {
    color: $green-2;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 2%;
    width: 178px;
    height: 1px;
    background-color: $light-green-2;

    @media (min-width: $screen-tablet) {
      top: 29px;
      right: 0;
      width: 200px;
    }
  }
}

.contacts__write-wrapper {
}

.contacts__write {
  margin: 0 auto;
  margin-top: 40px;
  padding: 9px 49px;
  width: 260px;

  @media (min-width: $screen-tablet) {
    margin-top: 56px;
    padding: 14px 38px;
    width: 230px;
    font-size: $font-size--lg;
    line-height: 20px / $font-size--lg;
  }

  @media (min-width: $screen-desktop) {
    margin: 0;
    margin-top: 78px;
    margin-left: 175px;
  }
}

.contacts__map {
  position: relative;
  margin: 0 auto;
  padding-top: 1px;
  height: 457px;
  width: 320px;

  &::before {
    content: "";
    position: absolute;
    width: 67px;
    height: 100px;
    background: url("../img/icon-map-pin.svg");
    top: 165px;
    left: 123px;

    @media (min-width: $screen-tablet) {
      left: 348px;
    }

    @media (min-width: $screen-desktop) {
      left: 235px;
    }
  }

  @media (min-width: $screen-tablet) {
    margin: 0;
    width: 768px;
    height: 457px;
  }

  @media (min-width: $screen-desktop) {
    position: absolute;
    top: 96px;
    right: 50px;
    width: 525px;
    height: 457px;
  }
}
