.contacts {
  outline: $temp-ol;
}

.contacts__title {
  margin: 0;
  padding: 0 30px;
  color: $black;
  font-weight: bold;
  font-size: $fs-d;
  line-height: $lh-c;
}

.contacts__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts__item {
  padding: 0 30px;
  line-height: $lh-b;
}
