.features {
  outline: $temp-ol;
  padding: 0 30px;
}

.features__title {
  margin: 0;
  color: $black;
  font-weight: bold;
  font-size: $fs-b;
  line-height: $lh-g;
}

.features__list {
  outline: $temp-ol;
  margin: 0;
  padding: 0;
  list-style: none;
  color: $black;
  font-weight: bold;
  font-size: $fs-e;
  line-height: $lh-h;
}

.features__item {
  min-height: 110px;
}
