.features {
  outline: $temp-ol;
  padding: 0 30px;
  box-sizing: border-box;
}

.features__title {
  margin: 0;
  @include titleH2;
  font-size: 25px;
}

.features__list {
  outline: $temp-ol;
  @include listStyleNone;
  color: #000000;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.features__item {
  min-height: 110px;
}
