.field-text {

}

.field-text__label {
  @include title-label;

  &--hidden {
    font-size: $fs-hidden;
  }
}

.field-text textarea {
  font-family: "OpenSans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.field-text input,
.field-text textarea {
  font-size: $fs-e;
  line-height: $lh-l;
}

.field-text input::placeholder,
.field-text textarea::placeholder {
  color: $dark-gray;
}
