.handmade-nav {
  outline: $temp-ol;
}

.handmade-nav__item {
  display: block;
  min-height: 103px;
  color: $white;
  text-decoration: none;
  font-weight: bold;
  font-size: $fs-c;
}

.handmade-nav__item--interior {
  background: $light-green;
}

.handmade-nav__item--toy {
  background: $green;
}
