.handmade-nav {
}

.handmade-nav__item {
  display: block;
  min-height: 103px;
  color: $light-text;
  text-decoration: none;
  font-weight: bold;
  font-size: $font-size--xxl;
  line-height: 24px / $font-size--xxl;
}

.handmade-nav__item--interior {
  position: relative;
  background: $light-green;
}

.handmade-nav__item--interior::after {
  content: "";
  position: absolute;
  top: 21px;
  right: 35px;
  width: 45px;
  height: 65px;
  background: url("../img/icon-interior.svg") no-repeat center;
  opacity: 0.5;
}

.handmade-nav__item--toy {
  position: relative;
  background: $green;
}

.handmade-nav__item--toy::after {
  content: "";
  position: absolute;
  top: 18px;
  right: 24px;
  width: 65px;
  height: 65px;
  background: url("../img/icon-toy.svg") no-repeat center;
  opacity: 0.5;
}

.handmade-nav__item span {
  margin-left: 28px;
  padding-top: 25px;
  display: block;
  width: 110px;
}
//
//@media (min-width: $screen-tablet) {
//
//  .handmade-nav__links {
//    display: flex;
//  }
//
//  .handmade-nav__item {
//    width: 50%;
//  }
//}
