.item-ot-week {
  outline: $temp-ol;
  padding: 0 30px;
  box-sizing: border-box;
}

.item-ot-week__title {
  margin: 0;
  @include titleH2;
  font-size: 25px;
}

.item-ot-week__subtitle {
  @include titleLegend;
  line-height: 20px;
}

.item-ot-week__info {
  outline: $temp-ol;
}

.item-ot-week__list {
  outline: $temp-ol;
  @include listStyleNone;
  line-height: 20px;
}

.item-ot-week__price {
  font-weight: bold;
  font-size: 15px;
}

.item-ot-week__order {
}
