.knitting {
  outline: $temp-ol;
}

.knitting__title {
  margin: 0;
  padding: 0 30px;
  min-height: 177px;
  background: $gray;
  @include title-h2;
}

.knitting__info {
  font-size: $fs-h;
}

.knitting__order {
  padding: 0 30px;
}

.knitting__legend {
  color: $light-green;
  font-weight: bold;
  font-size: $fs-e;
  line-height: $lh-l;
}

.knitting__required {
  font-size: $fs-f;
  line-height: $lh-i;
}
