.making {
  outline: $temp-ol;
  padding: 0 30px;
}

.making__content {
  outline: $temp-ol;
}

.making__title {
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--large + px;
  line-height: 24 / $font-size--large + em;
}

.making__info {
  font-size: $font-size--xs + px;
}
