.making {
  outline: $temp-ol;
  padding: 0 30px;
}

.making__content {
  outline: $temp-ol;
}

.making__title {
  margin: 0;
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--lg;
  line-height: 24px / $font-size--lg;
}

.making__info {
  font-size: $font-size--xs;
}

.making__play {
  display: none;
}

@media (min-width: $screen-tablet) {

  .making {
    margin: 0 auto;
    padding: 0;
    padding: 0 50px;
    width: $tablet-width;
  }
}

@media (min-width: $screen-desktop) {

  .making {
    width: $desktop-width;
  }

  .making__content {
    position: relative;
  }

  .making__video {
    position: absolute;
    top: 0;
  }

  .making__info,
  .making__title,
  .making__order{
    padding-left: 680px;
  }

  .making__title {
    padding-top: 70px;
  }
}
