.page-header {
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 21px;
  border-top: 1px solid $gray-2;
  border-bottom: 1px solid $gray-2;
  width: $mobile-width;
}

.page-header__logo {
  margin-left: 33%;
}
//
//@media (min-width: $screen-tablet) {
//
//  .page-header {
//    width: $tablet-width;
//    padding: 0 50px;
//  }
//}
//
//@media (min-width: $screen-desktop) {
//
//  .page-header {
//    width: $desktop-width;
//  }
//}
