.page-footer {
  outline: $temp-ol;
  margin: 0 auto;
  padding: 0 30px;
  min-width: $mobile-width;
  background: $gray;
}

.page-footer__copyright {
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--xxl;
  line-height: 18px / $font-size--xxl;
}

.page-footer__copyright a {
  font-size: 0;
}
