.page-footer {
  outline: $temp-ol;
  margin: 0 auto;
  padding: 0 30px;
  width: $mobile-width;
  background: $gray;
}

.page-footer__copyright {
  color: $black;
  font-weight: bold;
  font-size: $fs-c;
  line-height: $lh-l;
}

.page-footer__copyright a {
  font-size:  $fs-hidden;
}
