.page-header {
  position: relative;
  outline: $temp-ol;
  margin: 0 auto;
  padding: 0 30px;
  min-width: $mobile-width;
}

.page-header__title {
  font-size: 0;
}

@media #{$tablet-media} {

  .page-header {
    width: $tablet-width;
    padding: 0 50px;
  }
  .page-header__logo {
    position: absolute;
    top: 25px;
  }
}

@media #{$desktop-media} {

  .page-header {
    width: $desktop-width;
  }
  .page-header__logo {
    position: absolute;
    left: 50%;
    margin-left: -75px;
  }
}
