.promo-handmade {
  outline: $temp-ol;
}

.promo-handmade__header {
  height: 283px;
  background: url("../../img/hero-mobile@1x.jpg") no-repeat center -18px;
}

.promo-handmade__title {
  margin: 0;
  @include title-h2;
  padding-top: 100px; /*--temp--*/
}

@media #{$tablet-media} {

  .promo-handmade {
    margin-top: -88px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
    width: $tablet-width;
  }
}

@media #{$desktop-media} {

  .promo-handmade {
    width: $desktop-width;
  }
}
