.quote {
  outline: $temp-ol;
  margin: 0;
}

.quote p {
  line-height: $lh-b;
}

.quote__author {
  color: $black;
  font-weight: bold;
  font-size: $fs-e;
  font-style: normal;
}

.quote__email {
  text-decoration: none;
  font-size: $fs-e;
  line-height: $lh-o;
}
