.quote {
  outline: $temp-ol;
  margin: 0;
}

.quote p {
  line-height: 30 / $font-size--main + em;
}

.quote__author {
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--large + px;
  line-height: 24 / $font-size--large + em;
  font-style: normal;
}

.quote__email {
  text-decoration: none;
  font-size: $font-size--large + px;
  line-height: 30 / $font-size--large + em;
}
