.reviews {
  margin: 0 auto;
  width: 260px;

  @media (min-width: $screen-tablet) {
    position: relative;
    margin-top: 64px;
    padding: 0 50px;
    width: $tablet-width;
    min-height: 525px;
    background: url("../img/review@1x.jpg") no-repeat 0 0;

    @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
      background: url("../img/review@2x.jpg") no-repeat 0 0;
      background-size: 350px auto;
    }
  }

  @media (min-width: $screen-desktop) {
    padding-left: 225px;
    width: $desktop-width;
    min-height: 530px;
    background-position: 49px 10px;
  }
}

.reviews__title {
  margin: 0;
  padding-top: 39px;
  color: $secondary-text;
  font-weight: bold;
  font-size: $font-size--xxxl;
  line-height: 30px / $font-size--xxxl;

  @media (min-width: $screen-tablet) {
    padding-top: 78px;
    width: 70%;
    font-size: $font-size--xxxxxl;
    line-height: 50px / $font-size--xxxxxl;
    order: 1;
  }

  @media (min-width: $screen-desktop) {
    padding-top: 80px;
    font-size: $font-size--xxxxxxl;
    line-height: 57px / $font-size--xxxxxxl;
  }
}

.reviews__slider {

  @media (min-width: $screen-tablet) {
    margin-top: 4px;
  }
}

.reviews__write {
  margin-top: 36px;
  padding: 9px 80px;

  @media (min-width: $screen-tablet) {
    position: absolute;
    right: 50px;
    top: 45px;
    padding: 14px 38px;
    width: 176px;
    font-size: $font-size--lg;
    line-height: 20px / $font-size--lg;
  }

  @media (min-width: $screen-desktop) {
    top: 50px;
  }
}

.reviews__arrows {
//  margin: 0;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}



.reviews__arrow {
  padding: 0;
  margin-top: 19px;
  width: 130px;
  font-size: 0;
  background: #ffffff url("../img/icon-right-arrow.svg") no-repeat 36px 12px;
  border: 1px solid $gray-2;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $screen-tablet) {
    position: absolute;
    right: 10px;
    top: -86px;
    width: 11%;
    background-position: 15px 12px;
    border: none;
  }

  @media (min-width: $screen-desktop) {
    right: -12px;
  }
}

.reviews__prev {
  border-right: none;
  background: url("../img/icon-left-arrow.svg") no-repeat 36px 12px;

  @media (min-width: $screen-tablet) {
    right: 96px;
//    margin-left: 38px;
    background-position: 15px 12px;
  }

  @media (min-width: $screen-desktop) {
    right: 90px;
    background-position: 30px 12px;
  }
}
